In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
connection = sqlite3.connect('lib')

cursor = connection.cursor()
cursor.execute(
    '''
    CREATE TABLE Book(
        id INT PRIMARY KEY NOT NULL,
        title TEXT,
        author TEXT,
        publish_year INT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Book VALUES
    (1, 'Война и мир', 'Л. Н. Толстой', 1867),
    (2, 'Pride and Prejudice', 'Jane Austen', 1813),
    (3, 'Dune', 'Franklin Patrick Herbert', 1965),
    (4, 'Преступление и наказание', 'Ф. М. Достоевский', 1866),
    (5, 'Harry Potter and the Philosopher Stone', 'Joanne Rowling', 1997)
    '''
)

OperationalError: table Book already exists

In [3]:
cursor.execute(
    '''
    CREATE TABLE Reader(
        id INT PRIMARY KEY NOT NULL,
        name TEXT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Reader VALUES
    (1, 'Yana'),
    (2, 'Yuri Dud'),
    (3, 'A. S. Pushkin'),
    (4, 'Opra Winfrey'),
    (5, 'Nastya')
    '''
)

In [6]:
cursor.execute(   
    '''
    CREATE TABLE Records(
        id INT PRIMARY KEY NOT NULL,
        reader_id INT REFERENCES Readers(id) NOT NULL,
        book_id INT REFERENCES Books(id) NOT NULL,
        taking_date TEXT,
        returning_date TEXT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Records VALUES
    (1, 3, 4, '1842-02-14', '1842-07-01'),
    (2, 4, 4, '1996-10-26', 'NULL'),
    (3, 1, 2, '2006-06-13', '2006-06-14'),
    (4, 1, 1, '2006-06-14', '2006-06-15'),
    (5, 1, 3, '2006-06-15', '2006-07-20'),
    (6, 2, 5, '1985-10-11', '1987-12-25'),
    (7, 5, 3, '2001-03-15', 'NULL'),
    (8, 5, 3, '2002-09-19', '2002-09-25')
    '''
)

In [16]:
connection.commit()
connection.close()

ProgrammingError: Cannot operate on a closed database.

In [17]:
def book_selecter():
    connection = sqlite3.connect("lib")
    with connection:
        for row in connection.execute("SELECT title FROM Book"):
            print(row)
            
book_selecter()

('Доктор Живаго',)

In [18]:
def reader_selecter():
    connection = sqlite3.connect("lib")
    with connection:
        for row in connection.execute("SELECT name FROM Reader"):
            print(row)

reader_selecter()

('Yana',)
('Yuri Dud',)
('A. S. Pushkin',)
('Opra Winfrey',)
('Nastya',)
('Margo',)

In [19]:
def add_book(book_info):
    connection = sqlite3.connect("lib")
    with connection:
        connection.execute("INSERT OR IGNORE INTO Book VALUES(?, ?, ?, ?)", book_info)
        connection.commit()

add_book((6, 'Мёртвые души', 'Н. В. Гоголь', 1842))
add_book((7, 'Доктор Живаго', 'Б. Л. Пастернак', 1957)) # Лишняя книга

In [20]:
book_selecter()

('Доктор Живаго',)
('Мёртвые души',)

In [21]:
def delete_book(title):
    connection = sqlite3.connect("lib")
    with connection:
        connection.execute("DELETE FROM Book WHERE title=?", (title,))
        connection.commit()

delete_book('Мёртвые души')

In [22]:
book_selecter()

('Доктор Живаго',)

In [23]:
def add_reader(reader_info):
    connection = sqlite3.connect("lib")
    with connection:
        connection.execute("INSERT OR IGNORE INTO Reader VALUES(?, ?)", reader_info)
        connection.commit()

add_reader((6, 'Margo'))

In [24]:
reader_selecter()

('Yana',)
('Yuri Dud',)
('A. S. Pushkin',)
('Opra Winfrey',)
('Nastya',)
('Margo',)

In [25]:
def record_selecter():
    connection = sqlite3.connect("lib")
    with connection:
        for row in connection.execute("SELECT * FROM Records"):
            print(row)
            
record_selecter()

(1, 3, 4, '1842-02-14', '1842-07-01')
(2, 4, 4, '1996-10-26', 'NULL')
(3, 1, 2, '2006-06-13', '2006-06-14')
(4, 1, 1, '2006-06-14', '2006-06-15')
(5, 1, 3, '2006-06-15', '2006-07-20')
(6, 2, 5, '1985-10-11', '1987-12-25')
(7, 5, 3, '2001-03-15', 'NULL')
(8, 5, 3, '2002-09-19', '2002-09-25')